@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q50rx7');
  src:  url('fonts/icomoon.eot?q50rx7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q50rx7') format('truetype'),
    url('fonts/icomoon.woff?q50rx7') format('woff'),
    url('fonts/icomoon.svg?q50rx7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location-shopping:before {
  content: "\e913";
}
.icon-heart-outlined:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e942";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-phone1:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-check-alt:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e986";
}
.icon-subtract:before {
  content: "\e901";
}
.icon-calculate:before {
  content: "\e901";
}
.icon-remove:before {
  content: "\e901";
}
.icon-withdraw:before {
  content: "\e901";
}
.icon-deduct:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-ice-cream-cup:before {
  content: "\e905";
  color: #b02b2b;
}
.icon-pinterest-logo:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-placeholder:before {
  content: "\e908";
}
.icon-mail-2:before {
  content: "\e909";
}
.icon-smartphone-1:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-google-plus-logo:before {
  content: "\e90d";
}
.icon-instagram-symbol:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e910";
}
.icon-edit-1:before {
  content: "\e911";
}
.icon-rss-feed-symbol:before {
  content: "\e912";
}
