body {
    overflow: inherit !important;
}
h2 {
    font-size: 30px;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
        font-size: 26px;
    } 
}

h3 {
    font-size: 28px;
    
}

p {
    margin: 0px;
    font-size: 18px;
}

span {
    font-size: 14px;
    @include media-breakpoint-only(md) {
        font-size: 12px;
    }
}

strong {
    font-size: 40px;
}

.badge {
    font-size: 12px;

    @include media-breakpoint-down(sm) {
        font-size: 9px;
    }
}
.section-border {
        border-bottom: 1px dashed !important;
}

a {
    text-decoration: none !important;
}
.btn{
	outline:0 !important;
	font-size: 12px !important;
    font-weight: 600;
    text-transform: uppercase;
	border-radius: 0px;
    padding: 7px 30px;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2) !important;
	min-width: 140px;
    @include media-breakpoint-only(md) {
        min-width: 120px;
    }
	&.btn-rounded-default{
		background-color: #fff;
		color:$red;
	}
	&.btn-danger {
	    color: #fff !important;
        border: none;
	    background: $btn-color1;
	    @include gradient-x($start-color: $btn-color1, $end-color: $btn-color2, $start-percent: 0%, $end-percent: 100%)
	}
}

/*.btn-outline-dark {
    border-radius: 30px;
    border: none;
    width: 140px;
    font-weight: 700;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 8px;
    color: $red !important;
}*/
.btn-outline-light {
    background-color: $white !important;
    outline: none !important;
    color: $red !important;
    font-weight: bold;
    border: none;
}
.btn-warning{
    background-color: $orange !important;
    border: none;
    outline: none !important;
    color: $white !important;
}

/*.btn-outline-secondary {
    border-radius: 17px;
    width: 140px;
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);

    @include media-breakpoint-down(sm) {
        width: 109px;
        font-size: 12px;
    }
}*/


.form-control{
	border: 1px solid #d7d7d7;
	&.form-control-rounded{
		border-radius: 0px;
	}
}
ul {
    margin: 0;
    padding: 0;
}

.pries strong {
    font-size: 20px;
    font-weight: 600;
    color: $orange;
}
.container{
    max-width: 1400px;
}
/*.main-logo{
	img{
		max-width: 100%;
	}
}*/
/**********************Header-Start***************************************/
.header-top {
    border-top: 3px solid #f19300 !important; 
    .header-top-section {
    a {
        color: #aaaaaa !important;
    }

    .add-info {
        .mail-space {
            padding-right: 26px;
            @include media-breakpoint-down(sm){
                padding-right: 0;
            }
        }

        li {
            display: inline-block;
        }
        i,span{
            display: inline-block;
            vertical-align: middle;
        }
        i {
            color: #fff;
            font-size: 18px;
            @include media-breakpoint-down(sm){
                font-size: 16px;
            }
        }
    }

    .header-icon {
        border-left: 1px solid #707070 !important;
        
        li {
            padding: 0px 11px 0px 11px;
            display: inline-block;
            @include media-breakpoint-down(sm){
                padding: 0px 5px 0px 5px;
            }
        }

        ul {
            margin-bottom: 0px;
            padding: 0;
            padding-left: 15px; 
        }
    }

}

.header-bottom-section {
    padding: 10px 0px 10px 0px;
    nav.navbar.navbar-expand-lg.navbar-light.justify-content-end.main-menu.p-0 {
    margin-right: -60px;
   }
    }
    .header-top-section {
        
        @include media-breakpoint-down(sm){
              display: none;
            }
            @include media-breakpoint-only(md) {
               display: none;
            }
    }
     
    .main-menu {
        .order-now {
            a {
                color: #fff !important;
            }
        }

        a {
            font-size: 14px;
            color: #000000 !important;
            @include media-breakpoint-only(md) {
                color: #000 !important;
            }
        }

        ul {

            /*margin-top: 11px;*/
            li {
                @include media-breakpoint-only(md) {}
            }
        }

        .order-now {

            /*padding-left: 35px;
            @include media-breakpoint-only(md){
                 padding-left: 10px;
            }*/
            a {
                @include media-breakpoint-only(md) {}

            }
        }

        .navbar-toggler {
            border-color: #ccc;
            position: relative;
                background-color: rgba(255, 255, 255, 0.6);
            &[aria-expanded="false"] {
                z-index: 0;
            }
            &[aria-expanded="true"] {
                z-index: 101;
            }
        }

        .navbar-collapse{
            @include media-breakpoint-down(md) {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 112%;
                background-color: #fff;
                z-index: 100;
                pointer-events: none;
                li{
                    a{
                        color: #000 !important;
                    }
                }
                .nav {
                    display: block;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
            &.show{
                pointer-events: inherit;
            }
        }

    }
}

/**********************Header-Start***************************************/

/********************footer start****************************/
.main-ftr {
    padding-top: 50px;
    font-size: 12px;
    background-image: url("images/theme-4/footer-banner.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }

    li {
        list-style: none;
    }

    i {

        vertical-align: middle;
    }

    .footer-section-1 {
        p {
          font-size: 18px;
          padding-top: 10px;
        }
        span {
            margin-right: 10px;
            padding: 10px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
        }

        .Opening {
            padding-left: 0px;

            li {
                margin-bottom: 20px;
            }

            img {
                width: 13px;
            }

            i {
                color: #e3342f;
            }
        }

    }
    .footer-section-3 { 
        margin-right: 42%;
         @include media-breakpoint-only(md) {
            margin-right: 0%;
         }
        @include media-breakpoint-down(sm) {
                margin-right: 0px;
                text-align: left !important;
                padding-top: 25px;
            }
        i {
            background: #b7781b;
            border-radius: 100%;
            width: 34px;
            height: 34px;
            display: inline-block;
            line-height: 35px;
            text-align: center;
            margin-bottom: 20px;
            margin-right: 15px;
            vertical-align: initial;

        }
        .Opening {
            margin-top: 70px;
            @include media-breakpoint-down(sm) {
                margin: 20px 0px 20px 0px;
            }
            a {
                @include media-breakpoint-down(md) {
                    display: flex;
                }
             
            }
            
        }
    }



    .footer-menu {
        padding-bottom: 35px;
        i {
          color: #ff6a00 !important;
          border-radius: 100%;
          width: 32px;
          height: 32px;
          display: inline-block;
          line-height: 30px;
          text-align: center;
          border: 1px solid #ff6a00;
          margin-right: 15px
        }
        a {
           padding-right: 28px;
           @include media-breakpoint-down(md) {
                padding-right: 12px;
            }
        }


        ul {
            border-top: 1px solid #b7b7b7;
            border-bottom: 1px solid #b7b7b7;
            padding: 9px 0px 9px 0px;
            width: 82%;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin-top: 30px;
            }

            @include media-breakpoint-down(sm) {
                padding-top: 20px;
                margin-top: 20px;
            }
        }

        li {
            display: inline-block;
            @include media-breakpoint-down(sm) {
                padding-bottom: 15px;
            }
        }

        img {
            padding-bottom: 35px;
        }
    }

    .follow-us {
        h3 {
            font-size: 16px; 
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 0px;
        }

    }



    .icons {
         padding-top: 20px;

        i {
            color: #fff;
        }

        ul {
            @include media-breakpoint-down(sm) {
                padding: 0px;
            }

            li {
                display: inline-block;
                padding: 0px 9px 0px 0px;

                a {
                    border-radius: 100%;
                    width: 29px;
                    height: 29px;
                    display: inline-block;
                    line-height: 28px;
                    text-align: center;
                }
            }
        }




        .linked a {
            background-color: #0e76a8;
        }

        .twitter a {
            background-color: #00acee;
        }

        .pinterest a {
            background-color: #e3342f;
        }

        .google-plus a {
            background-color: #333333;
        }

        .wifi a {
            background-color: #f6993f;
        }

    }

    .footer-section-2 {
        @include media-breakpoint-down(sm) {
                text-align: left !important;
        }

        strong {
            font-size: 14px;
        }
        .footer-section-right {
            margin-left: 50px;
            @include media-breakpoint-down(sm) {
                    margin-left: 0px;
            }
            @include media-breakpoint-down(md) {
                  margin-left: 0px;
            }
        }
    }

        h3 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold; 
        }

        a {
            font-size: 14px;
        }

        .Opening-hours {
            padding-left: 0px;

            li {
                padding-top: 5px;
                padding-bottom: 5px;
            }

        }

        .footer-space {

            @include media-breakpoint-down(sm) {
                padding-top: 10px !important;

            }
        }

        .inner-ftr {
            padding-bottom: 13px;
        }

        a {
            color: #1f232b !important;
        }

        strong a {
            color: #ff6a00 !important;
        }
        .BIG.SIG {
        p {
        border-top: 1px solid #ff6a00;
        margin-top: 15px;
        }
    }


}

 
.copyright {
    border-top: 1px solid #b7b7b7; 

    p {
        font-size: 12px;
        margin-bottom: 0px;
        padding: 15px 0px 15px 0px;
        color: #000;
    }
}

/********************footer end****************************/


.section-fullwidth{
	@include media-breakpoint-up(lg) {
        padding: 80px 0px 80px;
    }
	@include media-breakpoint-down(md) {
        padding: 50px 0px 50px 0px;
    }
    @include media-breakpoint-down(sm) {
        padding: 30px 0px 30px 0px;
    }
}
.header-bottom {
    background-image: url("images/theme-4/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    height: 650px;
    @include media-breakpoint-down(md) {
        padding: 35px 0px 60px 0px;
      height: auto;
    }
   
    .contact-bnner {
        background-image: url("images/theme-4/banner-imag.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: inherit;
         margin-top: 12%;
       
         @include media-breakpoint-down(md) {
           
        }
        @include media-breakpoint-down(sm) {
           
        }
    	
        .head-taj{
           padding: 45px 35px 20px 35px;
            border-left: 10px solid $orange;
            box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.3) !important;
            @include media-breakpoint-down(md) {
                 padding: 40px 35px 10px 35px;
            }
            .btn-warning {
                    background-color: transparent !important;
                    border: 1px solid $orange;
                    span{
                        color: $orange;
                    }
                }
            h2{
                color: #000;
                font-weight: 500;
                font-size: 42px;
                 margin:0px;
                 @include media-breakpoint-down(md) {
                    font-size: 30px;
                       
                }
                 @include media-breakpoint-down(sm) {
                    font-size: 30px;
                }
            }
            p{
                color: #000;
                font-weight: normal;
                margin: 20px 0px 36px 0px;
                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }
        }

	    
	}
    .postal-code {
        background-color: $white;
        border: 3px solid $orange;
        border-radius: 10px;
        text-align: center;
        padding: 50px 20px;
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.3) !important;
        margin-top: 22%;
        img {
            margin-top: -54%;
            box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.3) !important;
            border-radius: 70px;
        }
        .info-txt {
            padding-top: 17px;
            h2{
                 font-family: 'Oleo Script Swash Caps';
             }

        }
        h3{
            font-size: 22px;
            @include media-breakpoint-down(md) {
                font-size: 16px;
                
            }
        }
        .form-control {
            border-radius: inherit;
            background-color: #f7f7f7;
        }
    }

}

.deliver-area {
    .deliver-back-img{
        background-image: url("images/theme-4/order-image.png");
        background-repeat: no-repeat;
         background-size: cover;
         background-position: inherit;
    }
    .delve-btn{
         margin-top: 38px;

    }
    .menu-left{
        border: 1px solid #e1e1e1;
        img {
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10) !important; 
            width: 100%;
        }
         h2 {
            color: $orange;
            text-transform: uppercase;
            
        }
        .menu-left-item {
            margin-top: 20px;
            padding: 20px;
            

            .order-taj {
                margin-bottom: 12px;
                .badge {
                    font-size: 12px;
                    padding: 5px 10px;
                    border-radius: inherit;
                    @include media-breakpoint-down(sm) {
                        padding: 3px;
                        font-size: 11px;
                    }
                }
                .green-badge {
                    padding: 6px 10px !important;
                    @include media-breakpoint-down(sm) {
                        padding: 3px !important;
                    }
                }
            }

            li{
                list-style: none;
            }
            .pries-menu {
                font-weight: 600;
                
            }
        }
    }
    .offer-sides{
        margin-top: 20px;
    }
}

.rating-area{
     background-image: url("images/theme-4/deleviry-banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .drinks-option{
       padding: 100px 50px 80px 50px;
            @include media-breakpoint-down(sm) {
                  padding: 30px 20px 40px 20px;              
            }
            .drink-cont-sec {
                background-color: #fff;
                padding: 20px;
                padding-left: 35px;
                border-left: 10px solid  $orange;
                h2 {
                    font-size: 36px;
                    font-weight: 500;
                    color: $orange;
                }
                p {
                    font-size: 16px;
                }
            }
        
        img {
            padding-top: 54px;
        }
        .cans{
            img{
                width: 100%;
                padding-top: 18px;
                 height: 100%;
                 @include media-breakpoint-down(md) {
                        margin-left: 30px;
                        height: 58%;
                }
                @include media-breakpoint-down(sm) {
                    height: 100%;  
                    padding-top: 30px;  
                     margin-left: 0px;          
                 }
            }
        }
        ul{
            padding: 30px 0px;
            li {
                list-style: none;
                font-size: 22px;
                color: #fff;
                @include media-breakpoint-down(md) {
                   font-size: 16px;
                }
                span {
                    font-size: 26px;
                    color: $orange;
                    padding-left: 23px;
                    @include media-breakpoint-down(md) {
                       font-size: 20px;
                    }
                }

            }
        }
        .btn-warning{
            background-color: $white !important;
            color: $orange !important;
        }
        
    }

}


/*.menu-box{
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 40px 15px;
    }
        .second-section {
            margin-top: 60px;
            h2{
                margin-bottom: 20px;
            }
            .btn.btn-warning {
                 margin-top: 40px;
             }
        }
    .menu-left{

        .menu-img-top{
            img {

                width: 100%;
                box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15) !important;
                margin-bottom: 30px;
                border: 1px solid $yellowdark;
            }
            h2 {
                font-size: 36px;
                font-weight: 500;
                color: #d1ab3c;
                margin: 0;
                text-transform: uppercase;
                @include media-breakpoint-down(sm) {
                    font-size: 30px;
                    margin-bottom: 19px !important;
                }
            }
        }
        .menu-left-item{
            .order-taj {
                padding-bottom: 15px;
                p {
                    font-size: 16px;
                    color: $red;
                    font-weight: 600;
                    @include media-breakpoint-down(sm) {
                       font-size: 14px;
                    }
                }
                .badge-primary {
                    background-color: $purple;
                    padding: 6px;
                    border-radius: inherit;
                }
            }
            
            .border-bottom-taj {
                border-bottom: 1px solid #e1e1e1;
                padding: 6px;
                ul {
                    list-style: circle;
                    margin-left: 11px;
                     li {
                        font-size: 16px;
                        @include media-breakpoint-down(sm) {
                            font-size: 14px;
                        }
                    }
                }
               
                .pries-menu {
                    font-weight: 700;
                }
            }
        }

    }
    .menu-right{
        background-image: url("images/theme-2/order-right.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        margin-top: 70px;
        margin-left: 50px;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15) !important;
        @include media-breakpoint-only(md) {
            margin-left: 0px;
        }
        @include media-breakpoint-down(sm) {
             margin-left: 0px;
             margin-top: 45px;
        }
        .order-box-1 {
            background-color: rgba(255, 255, 255, 0.6);
            border: 1px solid #fff;
            padding: 30px;
                h2 {
                font-weight: 500;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
            }
            span {
                font-size: 16px;
                color: $red;
            }
            .btn.btn-warning {
                margin-top: 30px;
                border: 2px solid;
            }
        }
    }
    .full-image {
        img {
          
            position: absolute;
            right: 0px;
            margin-top: -30%;
            @include media-breakpoint-only(md) {
                display: none;
            }
            @include media-breakpoint-down(sm) {
                 display: none;
            }
            
        }
    }

}*/




.deal-section {
    background-image: url("images/theme-4/banner-deal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    @include media-breakpoint-only(md) {
        margin-top: 50px;
    }
    @include media-breakpoint-down(sm) {
        margin-top: 60px;    
        padding-bottom: 50px;
    }
    .deal-content {
        padding: 0px 60px;
        @include media-breakpoint-only(md) {
            padding: 0px 20px;
        }
        @include media-breakpoint-down(sm) {
            padding: 0px 20px;
         }
         p {
        font-size: 18px;
        color: $white;
        line-height: 30px;
        margin-bottom: 80px;
         margin-top: 32px;
        @include media-breakpoint-only(md) {
            margin-bottom: 70px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 15px;
        }
    }

    .offers {
        background-image: url("images/theme-4/offers-one.jpg");
        background-repeat: no-repeat;
        background-position: right;
        padding: 50px 30px;
        box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.3);
        @include media-breakpoint-only(md) {
           padding: 30px 20px;
            background-position: top;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 25px;
        }
        h2 {
            font-size: 56px;
            font-weight: bold;
            @include media-breakpoint-only(md) {
                font-size: 40px;
             }
             @include media-breakpoint-down(sm) {
               font-size: 40px;
            }
        }

    } 
    .offers h2:after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 70px;
        height: 2px;
        top: 29%;
        left: 33px;
        @include media-breakpoint-only(md) {
            top: 25%;
            left: 22px;
        }       
    }
    .sec-two{
        background-image: url("images/theme-4/offers-two.jpg");
        background-repeat: no-repeat;
        background-position: right;
        @include media-breakpoint-only(md) {
            background-position: top;
        }
    }
    .btn-warning {
        background-color: $white!important;
        color: $orange !important;
    }
    }
    
   

}
.delivery-section{
    background-image: url("images/theme-4/delevery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        background-position: bottom;
    h2 {
        font-style: italic;
        font-size: 62px;
        font-weight: 500;
        color: #000;
         margin-bottom: 20px;
         font-family: 'Kaushan Script', cursive;
         @include media-breakpoint-only(md) {
            font-size: 56px;
        }
        @include media-breakpoint-down(sm) {
             font-size: 30px;
        }

    }
    p {
        margin: 0px;
        font-size: 22px;
        color: #000;
        @include media-breakpoint-only(md) {
           font-size: 18px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 16px;
            
        }
    } 
    a{
       font-size: 22px;
        color: #000;
        margin-left: -5px;
        @include media-breakpoint-only(md) {
           font-size: 18px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 15px;
            
        } 
    }
    i{
        font-size: 20px;
        color: $orange;
        padding-right: 5px;
        border: 2px solid $orange;
        padding: 6px;
        background-color: #fff;
        border-radius: 32px;
         margin-right: 14px;
        @include media-breakpoint-down(sm) {
            margin-right: 6px;
            
        } 
        @include media-breakpoint-down(sm) {
            font-size: 12px;
            vertical-align: middle;
        }
    }
    .space {
        border-left: 1px solid;
        padding-left: 23px;
        @include media-breakpoint-down(sm) {
            padding-left: 14px;
            
        }
    }
    .btn {
        margin-top: 40px;
    }


}
.discovery-section {
    background-color: #ecf0f4;
    padding: 0px;
    .discover-content {
        .d-offers {
        background-color: $white;
        padding: 80px 20px 80px 20px;
        box-shadow: 10px 0px 25px 0px rgba(0, 0, 0, 0.25) !important;
        @include media-breakpoint-only(md) {
            max-width: 325px;
            margin: 0 auto;
            padding: 40px 20px 40px 20px;
        }
        @include media-breakpoint-down(sm) {
            padding: 40px 20px 40px 20px;
            
        }
        h2 {
                font-size: 62px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 20px;
                font-family: "Nanum Brush Script";
                font-style: italic;
                line-height: 49px;
                @include media-breakpoint-only(md) {
                    font-size: 44px;
                }
                @include media-breakpoint-down(sm) {
                  font-size: 37px;
                 line-height: 43px;
            
                }
            :after {
                position: absolute;
                content: "";
                width: 50px;
                height: 2px;
                background-color: red;
                top: 22%;
                left: 11%;
            }
        }
        p {
            font-size: 16px;
            span {
                font-size: 16px;
                font-weight: 600;
                color: $orange !important;
            }
        }
        img {
                margin-top: 10px;
           
        }
    }
    
    .d-offer-box {
        margin-left: 30px;
        padding: 122px 0px 100px 0px;
        @include media-breakpoint-only(md) {
            padding: 50px 0px 50px 0px;
        }
        @include media-breakpoint-down(sm) {
            margin-left: 0px;
             padding: 50px 0px 50px 0px;
            
        }
        .d-box {
            background-color: #fff;
            border: 1px solid #e1e1e1;
            padding: 20px;
            margin-bottom: 30px;
            .d-content {
                width: 60%;
                float: left;
                margin-top: 8px;
                h4 {
                    font-weight: 600;
                    text-transform: uppercase;
                    @include media-breakpoint-only(md) {
                        font-size: 17px;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 18px;
                        
                    }
                }
                p {
                    font-size: 16px;
                    margin-bottom: 15px;
                    margin-top: 30px;
                }
            }
            .d-content h4:after {
                content: "";
                background-color: $orange;
                position: absolute;
                width: 45px;
                height: 3px;
                top: 22%;
                left: 38px;
                margin: 9px 0px;
            }
            .d-img {
                width: 40%;
                display: inline-block;
                img {
                    width: 100%;
                    border: 1px solid #e1e1e1;
                    height: 130px;
                     border-radius: 15px;
                }
                .pries {
                    margin-bottom: 30px;
                }
            }
        }
        .d-box:hover {
            box-shadow: 0px 09px 20px 0px rgba(0, 0, 0, 0.30) !important;
        }
    } 
    }
           

}


.reservation {
    background-image: url("images/theme-4/contact-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-down(sm) {
        padding: 50px 0px;
                        
    }
    .form-box {
        background-color: #fff;
        border-radius: 10px;

        .title {
            text-align: center;
            background-image: url("images/theme-1/contact-top.png");
            color: #fff;
            background-repeat: no-repeat;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 30px 0px;

            h3 {
                text-transform: uppercase;
                font-weight: 700;

                @include media-breakpoint-down(sm) {
                    font-size: 25px;
                }
            }

            p {
                font-size: 16px !important;

                @include media-breakpoint-down(sm) {
                    font-size: 13px !important;
                }
            }
        }

        form {
            
            padding: 40px 18px 22px 55px;

            @include media-breakpoint-only(md) {
                padding: 50px 80px 50px 80px;
            }
             @include media-breakpoint-down(sm) {
               padding: 40px 20px 40px 20px;
                        
            }

            .frm-body{
                h2{
                color: #000;
                margin-bottom: 30px;
                width: 64%;
                font-size: 49px;
                text-transform: uppercase;
                line-height: 30px;
                padding-top: 33px;
                display: inline-block;
                @include media-breakpoint-down(sm) {
                    font-size: 36px;
                    line-height: 24px;
                        
                }
                .form-row {
                        padding-right: 33px;
                }

                span {
                        font-size: 16px;
                         @include media-breakpoint-down(sm) {
                              font-size: 13px;
                        
                        }
                    }
                }
                img {
                    
                    width: 34%;
                    margin-top: -37px;
                }

                label {
                    font-size: 12px;
                    font-weight: 700;
                    margin: 0px;
                    text-transform: uppercase;
                    padding-top: 7px;
                    color: $brown;
                }
                .form-control {
                 /* width: 90%;*/
                }
            }
            
        }
        .frm-ftr{
            .btn-warning {
                background-color: transparent !important;
                border: 1px solid $orange;
                color: $orange !important;
                margin-top: 20px;
            }
         
        }
    }
    .map-img{
            img {
            width: 100%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @include media-breakpoint-only(md) {
                border-bottom-left-radius: 10px;
            }
            @include media-breakpoint-down(sm) {
                 border-bottom-left-radius: 10px;
                        
            }
        }
    }

}

/************** popup start***************/
.modal-header {
    padding: 25px;

    .close {
        top: 12px !important;
        right: 15px !important;
        font-size: 33px !important;
    }
}

.home-popup {
    form {
        max-width: 300px;
	    text-align: center;
	    width: 100%;
    }
}

.lp-sidebar-title {
    padding: 10px 15px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
    h3 {
    	font-size: 22px;
		margin: 0;
        font-weight: 700;
        @include media-breakpoint-only(md) {
            font-size: 20px;
        }

    }
    img{
    	position: absolute;
	    width: 30px;
	    top: 50%;
	    right: 15px;
	    transform: translate(0, -50%);
    }
}
.lp-sidebar-body {
    padding: 0 15px;
}
.lp-sidebar-right{
	.cart-box{
		background: #F4F8FB;
        border: 1px solid #e1e1e1;
        overflow: hidden;
        .lp-sidebar-title{
			background-color: #fff;
		}
	}
}

.main-popup-section {
    padding: 80px 0px 80px 0px;

    .sidebar-area {
        border: 1px solid #e1e1e1;

        .cate-list {
            padding: 0px 15px;
            padding-bottom: 60px;

            .list-group-item:last-child {
                border-bottom-width: 1px !important;
            }
            a {
                padding: 10px 0px 10px 0px;
                font-size: 14px;
                color: #000 !important;

                @include media-breakpoint-only(md) {
                    font-size: 13px;
                }
            }

            .badge {
                font-size: 14px !important;
                background-color: #f5f8fa;
                border-radius: 23px;
                height: 23px;
                border: 1px solid #ebebeb;
                width: 22px;
                padding: 4px 0px 0px 0px;
            }
        }
    }

    .order-product {
        @include media-breakpoint-down(sm) {
            padding-top: 50px !important;
        }
        h3 {
                font-size: 16px !important;
                font-weight: 700;
            }

        h2 {
            font-size: 29px;
            color: #000 !important;
            border-bottom: 1px solid #e1e1e1;
            padding-bottom: 36px;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
        }
            p {
                font-size: 14px;
            }

        .prouct-item {
            display: inline-block;
            width: 38%;
            padding-bottom: 20px;

            @include media-breakpoint-down(sm) {
                display: block;
                width: 100%;
                padding-bottom: 10px;

            }

            @include media-breakpoint-only(md) {
                width: 31%;
            }

        }

        .product-dec {
            width: 62%;
            float: right;
            text-align: right;
            padding-top: 14px;

            @include media-breakpoint-down(sm) {
                width: 100%;
                float: none;
                text-align: inherit;
                padding-top: 0px;
                padding-bottom: 20px;

            }

            @include media-breakpoint-only(md) {
                width: 67%;
            }

            p {
                display: inline;
                padding-right: 25px;
                font-size: 12px;
                font-weight: 800;

                @include media-breakpoint-down(sm) {
                    padding-right: 20px;
                }

                @include media-breakpoint-only(md) {
                    padding-right: 10px;
                }
            }

        }

        .btn-warning {
            padding: 4px 10px 2px 10px;
            color: #fff !important;
            background-color: $btn-color1;
            border: none;
            float: right;
            font-size: 12px;
            box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);

        }
        .deals-pro{
            .p-cart{
                    padding: 20px 0px;
                p {
                    display: inline-block;
                    font-weight: 700;
                } 
            }
             
        }

    }

    .add-card {
        /*background: #f5f8fa;
        border: 1px solid #e1e1e1;
        border-radius: 20px;*/
    }
}

/************** feed back start ******************/
.inner-section {
    position: relative;

    .feedback-banner {
        padding: 80px 0px 30px 0px;

        .feed-banner-first {
            background-image: url(/images/theme-1/feed-back-img-two.jpg);
            background-repeat: no-repeat;
            background-position: top;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            height: 635px;
            box-shadow: 20px 7px 29px 5px rgba(0, 0, 0, 0.3);
            border: 1px solid #fff;

            @include media-breakpoint-down(sm) {
                margin-right: 40px;
            }

        }

        .feed-banner-second {
            background-image: url(/images/theme-1/feed-back-img-first.jpg);
            background-repeat: no-repeat;
            background-position: right;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            height: 635px;
            box-shadow: 0px 7px 20px 7px rgba(0, 0, 0, 0.3);
            border: 1px solid #fff;

            @include media-breakpoint-down(sm) {
                margin-left: 40px;
            }
        }
    }

    .form-feedback-section {
        position: absolute;
        top: 19%;
        left: 11%;

        @include media-breakpoint-only(md) {
            top: 20%;
            left: 24px;
        }

        @include media-breakpoint-down(sm) {
            left: 0px;
            top: 26%;
        }

        @media (min-width: 1200px) {
            .form-feedback-section {
                left: 93px;
            }
        }

        .form-feedback {

            padding: 50px 40px;
            background-color: rgba(249, 255, 245, 0.9);
            border-radius: 10px;

            @include media-breakpoint-down(sm) {
                padding: 35px 12px;
                margin: 0px 10px;
            }

            h1 {
                font-size: 36px;
                font-weight: bold;
                text-align: center;
            }

            .form-control {
                display: inline-block;
                width: 84%;
                float: right;
                border: none;
                border-bottom: 1px solid #e1e1e1;
                border-radius: 0;
                background-color: transparent;

                @include media-breakpoint-only(md) {
                    width: 75%;
                }
            }

            label {
                font-size: 14px;
                font-weight: 700;
                padding-top: 7px;
                color: $orange;
            }

            .reactions {
                border: 1px solid #e1e1e1;
                padding: 10px;
                background-color: #fff;
                box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
                margin: 30px 0px 10px 0px !important;

                @include media-breakpoint-only(md) {
                    margin-top: 0px !important;
                }

                @include media-breakpoint-down(sm) {
                    margin-top: 0px !important;
                }

                label {
                    font-size: 15px;
                    font-weight: 600;
                    padding-top: 0px;
                    margin: 0px;
                    line-height: 25px;
                }

                .react {
                    width: 22%;
                    display: inline-block;
                    float: right;
                    text-align: right;

                    @include media-breakpoint-down(sm) {
                       
                        margin-top: 15px;
                    }

                    label {
                        font-size: 20px !important;


                    }

                }

                .react label:after {
                    content: "" !important;
                    position: absolute !important;
                    width: 1px !important;
                    height: 15px !important;
                    background-color: #e1e1e1 !important;
                    margin-left: 11px !important;
                    top: 4px !important;

                    @include media-breakpoint-only(md) {
                        margin-left: 5px !important;
                        top: 3px !important;
                    }

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }
                }

            }

            textarea {
                width: 100% !important;
                border: 1px solid #e1e1e1 !important;
                background-color: #fff !important;
                border-radius: 0px !important;
            }



        }
    }


}


/********************feedback end******************/


/*********************about start/************************/

.aboutuspage {
    padding-top: 80px;
}

.about-us-banner1 {
    background-image: url(/images/theme-1/about-banner-img.png);
    background-repeat: no-repeat;
    background-position: top;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 390px;
    padding: 2px 35px 0px 0px;
    margin-right: 25px;
    box-shadow: 18px 10px 20px 0px rgba(0, 0, 0, 0.3);

    @include media-breakpoint-down(sm) {
        border-top-right-radius: 65px;
        border-bottom-right-radius: 65px;
        height: 670px;
        padding: 2px 15px 0px 0px;
    }

    @include media-breakpoint-only(md) {
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
        height: 700px;
        padding: 2px 15px 0px 0px;
    }

    .first-about-us {
        background: rgba(245, 245, 245, 0.9);
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        padding: 65px 60px 77px 100px;
        margin-top: 28px;
        margin-right: 15px;

        @include media-breakpoint-down(sm) {
            border-top-right-radius: 65px;
            border-bottom-right-radius: 65px;
            padding: 20px 20px 20px 20px;
        }

        @include media-breakpoint-only(md) {
            border-top-right-radius: 70px;
            border-bottom-right-radius: 70px;
            margin-right: 15px;
            padding: 20px;
        }

        h2 {
            padding-bottom: 48px;

            @include media-breakpoint-only(md) {
                padding-bottom: 15px;
            }
        }
    }
}

.about-us-banner2 {
    background-image: url(/images/theme-1/about-banner2-img.png);
    height: 633px;
    background-position: center;
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
        margin: 45% 0% 10% 0%;
    }

    @include media-breakpoint-only(md) {
        height: 890px;
    }
}

.about-content-tow {
    margin-top: -88px;
    padding-bottom: 80px;

    @include media-breakpoint-down(sm) {
        margin-top: 0px;
    }

    @include media-breakpoint-only(md) {
        margin-top: -160px;
    }
}


/*********************about end************************/
.custom-modal{
	.modal-header {
	    padding: 10px 1rem;
	}
	.modal-body{
		padding: 1.5rem 1rem;

	}
}
.error{
	font-size: 14px;
	color:$red;
}

.check-card .order table tr td:nth-child(3) {
    min-width: 87px !important;
    font-size: 14px;
    font-weight: bold;
    width: 80px;
}
.order table tr {
     border-top: none !important;
}
.order{
    top: 0px !important;
        .section-border {
        border-bottom: 1px dashed !important;
        padding-bottom: 5px;
        padding-top: 11px;
        
    }
    .order-name{
        strong {
            font-size: 12px;
            font-weight: 600;
        }
        .cart-order {
            width: 80px;
            float: left;
            font-size: 12px;
            font-weight: bold;
            margin-right: 17px;
             @include media-breakpoint-only(md) {
                 width: auto;
            }
        }
        .strong-open{
            width: 80px;
            float: left;
        }
        

    }
    .priec-order {
            overflow: hidden;
            display: block;
            background: #eceff1;
            margin: 0px;
            border: 1px solid #d7d7d7;
            border-radius: 4px;
            width: 95%;
             i {
                padding: 0px !important;
                color: #a2a2a2;
            }
            .icon-up {
                float: left;
               padding: 0px 2px 0px 3px;
                border: none;
                vertical-align: middle;
                line-height: 21px;
            }
            .icon-down {
                float: right;
                padding: 0px 2px 0px 3px;
                border: none;
                vertical-align: middle;
                line-height: 21px;
            }
            span {
                background-color: #fff;
                width: 32px;
                max-width: 40px;
                display: inline-block;
            }
       
         .order-quty {
             @include media-breakpoint-only(md) {
                text-align: center !important;
            }

            
            
        }
        .svg-inline--fa{
           
            color: #a2a2a2;
        }
    }
       
        .mealactions { 
                width: 50px;
                padding: 26px 0px !important;
                margin-left: 10px;
                margin-top: 14px;
                 @include media-breakpoint-only(md) {
                   width: 100%;
                }
                
            a{
                i {
                    background: transparent !important;
                    padding: 0px !important;
                    font-size: 15px;
                    color: #000 !important;
                    

                }
            }

        }

}



.modal-content {

        border-radius: 20px !important;
        .deal-head h4{
            margin-top: 20px;
        }
         ul{
            list-style: none;
         }
        h4 {           
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        span {
            font-weight: 600;
        }

        .modal-header {
               padding: 40px 20px 0px 20px !important;
                border: none;
                text-align: center;
            .modal-title {
                margin: 0 auto;
                font-size: 26px;
                font-weight: 700;
            }
        }
        .modal-body {
            padding: 20px 40px 40px 40px !important;
            .section-border {
                border-bottom: 1px dashed;
                padding-bottom: 5px;
                padding-top: 11px;
            }
            .radio-list {
                li {
                    border-bottom: 1px dashed;
                    padding: 10px 0px 10px 0px;
                    label {
                         margin-bottom: 0px;
                    }
                }

            }
            
            .info-item {
               
                p{
                    font-size: 16px;
                }
                /*h4 { 
                    width: 50%;
                    float: left;
                    line-height: 25px;
                }*/
            }
            .addcart-form{
               
                 label {
                    font-size: 12px;
                    font-weight: bold;
                    input {
                        vertical-align: text-top;
                    }
                }
            }
            .input-holder {
                padding: 27px 0px 16px 0px;
                 textarea {
                    background-color: #f5f9fb;
                    border-color: #e1e1e1;
                    border-radius: inherit;
                }
            }
            .count-footer {
                border-top: 1px dashed !important;
                .increment-buttons {
                    @include media-breakpoint-down(sm) {
                        border-bottom: 1px dashed;
                        padding-bottom: 10px;
                        margin-bottom: 12px;
                    }
                     .cont-section{
                    .quantity-head {
                        width: 50%;
                        float: left;
                         h4 {
                            line-height: 25px;
                            margin: 0px!important;
                        }
                     }
                }
            
            .select-num{
                
                .qunt-btn {
                        overflow: hidden;
                        display: block;
                        background: #eceff1;
                        margin: 0px;
                        border: 1px solid #d7d7d7;
                        border-radius: 4px;
                        width: 45%;
                        float: right;
                        @include media-breakpoint-down(sm) {
                            width: 36%;
                        }
                         button {
                            padding: 0px 2px 0px 3px;
                            border: none;
                            vertical-align: middle;
                            line-height: 1px;
                        }
                         span {
                            background: #fff;
                            width: 36px;
                            max-width: 40px;
                            display: inline-block;
                            text-align: center;
                        }
                    
                    svg {
                      font-size: 13px;
                     color: #9d9d9d;
                     vertical-align: text-top;
                     padding: 0px 1px 0px 0px;
                   
                    }
                }
            }
                   
                }

               
            .priec-add{
                h4{
                    width: 62%;
                    float: left;
                    line-height: 22px;
                }

            }
        }

           
            
            button:focus {
                outline: none !important;
             }
        }
        
        .add-deal-section p{
            font-size: 16px;
        }
       
        


}

/***************check out start **********************/
.check-out-page{
    padding: 80px 0px;
    .checkoutpage {
        h2 {
            text-transform: uppercase;
        }
        h3 {
            font-size: 20px;
                font-weight: 600;
        }
        .check-head {
            padding-bottom: 20px;
        }
        .order-check {
            padding-bottom: 25px;
            h3 {
                padding-bottom: 12px;
            }
            label{
                color: $brown;
            }
        }
        .cash-delivery{
             label {
                width: 48%;
                padding: 8px 10px;
                border: 1px solid #e1e1e1;
                 color: $orange;
                font-size: 16px;
                font-weight: 700;
                position: relative;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
                @include media-breakpoint-only(md) {
                    width: 100%;
                }
                input {
                    vertical-align: inherit;
                }
                .svg-inline--fa{
                    position: absolute;
                    right: 15px;
                    top: 13px;
                    color: #bebebe;
                    
                }
            }
        }
        .check-form{
                padding: 35px 0px;
                h3 {
                padding-bottom: 10px;
            }
            label {
                font-size: 14px;
                font-weight: bold;
                color: $orange;
            }
            .form-control {
              
                border: none;
                border-bottom: 1px solid #d7d7d7;
                border-radius: 0;
                padding-left: 0px;
            }
        }
        .payment-sec {
            padding: 20px 0px;
        }
      

    }
    .checkout-cart-desktop{
        @include media-breakpoint-down(sm) {
            margin: 30px 10px;
            margin-top: 30px;
        }
        h2 {
            text-transform: uppercase;
        }
        h3 {
            font-size: 20px;
            font-weight: 600;
            margin: 0px;
            text-transform: uppercase;
            padding: 20px 0px;
            }
        h4{
            font-size: 16px;
            font-weight: 600;
        }
       
        .cart-box {
            border: 1px solid #e1e1e1;
            .check-out-list {
                background-color: #f5f8fa;
                border-top: 1px solid #e1e1e1;
                padding: 0px 20px;
                padding-bottom: 20px;
                .table-holder{
                    overflow-y: hidden;
                    padding: 15px 0px;
                    .order-name{
                        width: 65%;
                        padding: 10px 0px;
                        .check-order{
                            font-weight: bold;
                        }

                    }
                    .amount {
                        min-width: 80px !important;
                        text-align: right;
                    }
                    tr {
                        border-top: 1px dashed !important;
                        border-bottom: 1px dashed !important;
                    }
                    .tbl_cart_list{
                        border: none;
                    }
                    

                }
                .cart-money-detail{
                    background: transparent !important;
                    li {
                        padding: 10px 0px !important;
                    }
                }
            }
            
        }
        
          
    }
}

.mobile-cart-button {
    padding: 0px !important;
    background-color: #fff !important;

    .inner {
        padding: 17px;
        border-bottom: 1px solid #cccccc;
        background: #f5f8fa;
        .products-value {
            margin-left: 30px;
        }
        .chek-out-btn {
        min-width: 110px;
        btn{
            font-weight: normal;
        }
        span{
            color: #fff !important;
        }
    }
}
    }
    
    

.cartheight {
    height: 100vh !important;
        padding: 0px !important;
   
    .mb-cart-box{
        padding: 0px 17px 17px 17px;
         ul{
            list-style: none;
            h3{
                font-size: 16px;
            }
            .icon-delete {
                font-size: 20px;
                float: right;
                color: black;
            }
        }
        .border-all {
            border-bottom: 1px solid #cccccc;
            padding: 15px 0px;
        }

    }
    .confirm-btn{
        span {
          
            color: #fff;
            font-weight: 500;
        }
        .btn-rounded-danger{
         color: #fff !important;
            margin: 0px;
            border: none !important;
            border-radius: 20px !important;

        }
        

    }
}



.mobile-cart-button .inner span.text:after {
    @include media-breakpoint-down(sm) {
             position: absolute !important;
            top: 19px;
            left: 45% !important;
            font-size: 20px !important;
           content: "\e902" !important;
            color: #909090;
            font-family: 'icomoon' !important;
            transform: rotate(178deg);
        }

   
}





/***************check out end **********************/

/***************Deal-section-start*******************/
.add-deal-section{
        padding-bottom: 10px !important;
    margin-bottom: 15px;
}
/***************Deal-section-end*******************/
